.dark {
  /**
  * Global
  **/
  background-color: #000;
  color: #ffffff;
  /**
  * ElementPlus
  **/
  --el-fill-color-blank: #333;
  --el-input-bg-color: #333;
  --el-card-bg-color: #333;
  --el-menu-bg-color: #000;
  --el-menu-hover-bg-color: #000;
  --el-color-primary-light-9: #000;
  --el-bg-color-overlay: #000;
  --el-text-color-primary: #ffffff;
  /**
  * Layout
  **/
  --layout-bg-color: #000;
  --layout-header-bg-color: #000;
  /**
  * RouterView: exchangeCommunity
  **/
  --ys-bar-bg-color: #000;
  --ys-bar-border-color: #fff;
  --ys-container-border-color: #fff;
  /**
  * UserHome
  **/
  --ys-userHome-font-color: #fff;
}

.light {
  /**
  * Layout
  **/
  --layout-bg-color: #F9FAFA;
  --layout-header-bg-color: #fff;
  /**
  * RouterView: exchangeCommunity
  **/
  --ys-bar-bg-color: #fff;
  --ys-bar-border-color: #ccc;
  --ys-container-border-color: transparent;
  --ys-font-title-color: #AE34F1;
  /**
  * UserHome
  **/
  --ys-userHome-font-color: #000;
}
