.dark {
  /**
  * Global
  **/
  background-color: #000;
  color: #ffffff;
  /**
  * ElementPlus
  **/
  --el-fill-color-blank: #333;
  --el-input-bg-color: #333;
  --el-card-bg-color: #333;
  --el-menu-bg-color: #000;
  --el-menu-hover-bg-color: #000;
  --el-color-primary-light-9: #000;
  --el-bg-color-overlay: #000;
  --el-text-color-primary: #ffffff;
  /**
  * Layout
  **/
  --layout-bg-color: #000;
  --layout-header-bg-color: #000;
  /**
  * RouterView: exchangeCommunity
  **/
  --ys-bar-bg-color: #000;
  --ys-bar-border-color: #fff;
  --ys-container-border-color: #fff;
  /**
  * UserHome
  **/
  --ys-userHome-font-color: #fff;
}

.light {
  /**
  * Layout
  **/
  --layout-bg-color: #F9FAFA;
  --layout-header-bg-color: #fff;
  /**
  * RouterView: exchangeCommunity
  **/
  --ys-bar-bg-color: #fff;
  --ys-bar-border-color: #ccc;
  --ys-container-border-color: transparent;
  --ys-font-title-color: #AE34F1;
  /**
  * UserHome
  **/
  --ys-userHome-font-color: #000;
  /**
  * FindOut
  **/
  --findout-bg: url(https://th.bing.com/th/id/R.7e57686b89419361ce0b5d6c5658c744?rik=Eh9qfhw%2bRUZEJA&riu=http%3a%2f%2fimg.yipic.cn%2fthumb%2f357c44cf%2f6ac27d55%2fb6f5075c%2f48241d3b%2fbig_357c44cf6ac27d55b6f5075c48241d3b.png%3fx-oss-process%3dimage%2fformat%2cwebp%2fsharpen%2c100&ehk=xXfDoME280n3hSeJBvDzHUQkWZ9efEYw0oSiTE90Ew0%3d&risl=&pid=ImgRaw&r=0);
}
